body{
	background-color: #fff;
}


.add{
	position: absolute;
	background-color: #fff;
	bottom: 0px;
	top: 10px;
	right: 0px;
	left: 0px;
	border: 1px solid #F0F0F0;
}

.tableadd{
	width: 40%;
	margin:50% 35%;
	margin-top: 20px;

}

.tableadd td{
	height: 35px;
	padding-left: 2px;
	color: #666;
}

.tableadd td input{
	height: 25px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
}

.tableadd td button{
	margin-top: 25px;
	background-color: #467FE6;
	color: #FFF;
	padding: 6px 14px;
	font-size: 14px;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
}

.return{
	float:left;
	margin-left:10px;
}

.submit{
	float:right;
	margin-right:130px;
}


